<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
        
<mapper namespace="com.Qcat.Qcat.product.ProductRepository">
	
	<select id="selectProduct" parameterType="com.Qcat.Qcat.product.ProductDTO" resultType="java.util.HashMap">
	<!-- where에 store_id -->
        SELECT product_id
        	 , store_id
        	 , category
        	 , product_name
        	 , content
        	 , price
        	 , img
        	 , product_regdate
          FROM product
         WHERE store_id = #{store_id}
    </select>



</mapper>